* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(images/hotel-2.jpg);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
}

.logo h1 {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 2.5rem;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: 0.3s;
}

.navbar-links a:hover {
  color: brown;
}

.booking-text {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.booking-text h1 {
  font-size: 2rem;
}

.booking-text p {
  font-size: 1rem;
}

.cta .btn:hover {
  background-color: white;
  color: brown;
}

.btn {
  font-size: 0.7rem;
  padding: 10px 14px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  text-align: center;
  background-color: brown;
  color: white;
  transition: 0.3s;
}
.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
